* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background {
    position: absolute;
    background: url('https://imagesbase.ru/uploads/posts/2014-09/1410796259_imagesbase.ru-475.jpg')
        no-repeat center bottom/cover;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
}
