@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
    background-color: #f4f4f4;
}

.testimonial-container {
    position: relative;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768 px;
    background-color: #476ce4;
    color: #ffffff;
    border-radius: 15px;
}

.fa-quote {
    position: absolute;
    top: 70px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.testimonial {
    text-align: justify;
    line-height: 28px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user-details {
    margin-left: 10px;
}

.username {
    margin: 0;
}

.role {
    margin: 10px 0;
    font-weight: normal;
}

.progress-bar {
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }
    .fa-quote {
        display: none;
    }
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}
