* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #111111;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  margin: 2px;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000000;
  height: 16px;
  width: 16px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
